.DS_Store
.vscode
env
venv
test/artifacts/*
test/*.blend1
test/test_media
test/pdfs
build
dist
coldtype.egg-info
__pycache__
*.pyc
coldtype/scratch.svg
*_frames
*_layers
renders
media
scratch.py
.coldtype.py
recordings
preserved