.DS_Store
.vscode
.idea
env
venv
venv2
venv37
venv-arm
venv_x64
venv*
benv
benv*
test/visuals/artifacts/*
test/visuals/*.blend1
test/visuals/test_media
test/visuals/pdfs
build
dist
coldtype.egg-info
__pycache__
*.pyc
*.patch
coldtype/scratch.svg
*_frames
*_layers
renders
media
scratch
scratch.py
scratch*
.coldtype.py
recordings
preserved
generative_font.ufo
fontmakes
test_cairo.pdf
test/ignorables/
examples/*.pdf
examples/*.otf
examples/*.woff2
examples/fonts/*.ufo
*.blend1
*.blend
examples/blender/blends
examples/blender/fonts
profile.profile
profile_result
deps.txt
_coldtype_notebook_tmp
.ipynb_checkpoints
_GoogleFonts
_DownloadedFonts
_site
coldtype/demo/glfw-*