appdirs==1.4.3
fonttools==3.42.0
fs==2.4.5
lxml==4.3.3
pytz==2019.1
six==1.12.0
unicodedata2==12.0.0
git+https://github.com/rougier/freetype-py
fontPens==0.2.4
uharfbuzz==0.6.0
booleanOperations==0.8.2
defcon==0.6.0
skia-pathops==0.2.0.post2
websocket-client==0.56.0
SimpleWebSocketServer==0.1.1
glyphsLib==4.1.0
noise==1.2.2
watchdog==0.9.0