pytest
pynput
pymunk
pygments
pyaudio
soundfile
opentype-feature-freezer
fontmake
measurement
pillow
imagehash
scikit-image
noise
mdx-linkify

ipykernel

drawbot @ git+https://github.com/typemytype/drawbot

#pyaxidraw @ https://cdn.evilmadscientist.com/dl/ad/public/AxiDraw_API.zip

wheel
twine