/* @font-face {
    font-family: 'Forward-Web';
    src: url('/assets/Forwardv0-4-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Forward-Web';
    src: url('/assets/Forwardv0-4-Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Forward-Web';
    src: url('/assets/Forwardv0-4-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
} */

@font-face {
    font-family: 'MDSystem-Web';
    src: url('/assets/MDSystem-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MDSystem-Web';
    src: url('/assets/MDSystem-Bold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'MDSystem-Web';
    src: url('/assets/MDSystem-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'MDSystem-Web';
    src: url('/assets/MDSystem-BoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'MDIO-Web';
    src: url('/assets/MDIO0.4-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MDIO-Web';
    src: url('/assets/MDIO0.4-Bold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'MDIO-Web';
    src: url('/assets/MDIO0.4-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "MDSystem-Web", sans-serif;
}

pre, code {
    font-family: "MDIO-Web", monospace !important;
}

/* .text code {
    font-weight: bold;
} */

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0; margin: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background: white;
    /* font-family: source-serif-pro, sans-serif; */
}

#header {
    font-family: "MDIO-Web";
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 100px;
    padding-top: 20px;
}

#header a {
    color: dodgerblue;
    text-decoration: none;
}

#header a:hover {
    color: white;
    background-color: dodgerblue;
}

#main {
    max-width: 650px;
    margin: auto auto;
}

#main-inner {
    padding: 20px;
}

.post-link a {
    display: block;
    text-decoration: none;
    color: dodgerblue;
    /* padding: 10px; */
    border-left: 2px solid dodgerblue;
}

.post-link a h2 {
    font-weight: bold;
    padding: 2px 5px 2px 10px;
    font-family: "MDIO-Web";
    font-weight: 800;
}

.post-link a:hover h2 {
    background-color: dodgerblue;
    color: white;
}

.post-link a h2 span.date {
    font-weight: normal;
    color: #ccc;
    font-weight: 100;
}

.post-link a h2 span.grocer {
    color: #ccc;
    display: none;
}

h1#headline {
    font-family: "MDIO-Web";
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 0px;
}

h1#headline img {
    width: 100%;
}

.colab-callout {
    margin-bottom: 100px;
}

a {
    color: dodgerblue;
}

a.colab-link {
    color: dodgerblue;
    font-weight: bold;
    text-align: left;
    opacity: 0.65;
    text-decoration: none;
}

a.colab-link:hover {
    opacity: 1;
}

.post {
    margin-bottom: 50px;
    /* padding: 20px; */
}

.post p {
    margin-bottom: 14px;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.post h1 {
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 10px;
}

.post h2 {
    font-family: "MDIO-Web";
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 30px;
}

.post h3 {
    font-family: "MDIO-Web";
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.post ul {
    margin-bottom: 14px;
    list-style: circle;
    padding-left: 20px;
}

.post li {
    font-size: 1.1rem;
    line-height: 1.4rem;;
    margin-bottom: 10px;
}

.post code {
    color: deeppink;
}

hr {
    border: none;
    border-bottom: 1px solid #eee;
}

/* .post iframe {
    margin: 50px 0;
} */

.post .author {
    margin-top: 30px;
    text-align: right;
    font-style: italic;
    color: #555;
    margin-bottom: 200px;
}

.code-outputs {
    margin-bottom: 60px;
    border: 1px solid #ccc;
    border-top: none;
    padding: 8px;
}

.code-outputs img {
    display: block;
    margin-bottom: 8px;
}

.code-outputs img:last-child {
    margin-bottom: 0;
}

/* .post pre {
    display: block;
    overflow: scroll;
    padding: 10px 0;
    margin: 25px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
} */

.text pre {
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    overflow-x: scroll;
}

.highlight pre {
    /* font-family: covik-sans-mono, monospace; */
    padding: 12px 10px;
    /* border-top: 1px solid #ccc; */
    /* border-bottom: 1px solid #ccc; */
    font-size: 1rem;
    overflow-x: scroll;
    opacity: 1;
    height: auto;
    margin-bottom: 0px;
    background: whitesmoke;
    border: 1px solid #ccc;
    border-bottom: none;
}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #0099FF; font-style: italic } /* Comment */
.highlight .err { color: #AA0000; background-color: #FFAAAA } /* Error */
.highlight .k { color: #006699; font-weight: bold } /* Keyword */
.highlight .n { color: #A02299; } /* Keyword */
.highlight .o { color: #555555 } /* Operator */
.highlight .cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #009999 } /* Comment.Preproc */
.highlight .c1 { color: #0099FF; font-style: italic } /* Comment.Single */
.highlight .cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #003300; font-weight: bold } /* Generic.Heading */
.highlight .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.highlight .go { color: #AAAAAA } /* Generic.Output */
.highlight .gp { color: #000099; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #003300; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #99CC66 } /* Generic.Traceback */
.highlight .kc { color: #006699; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #006699 } /* Keyword.Pseudo */
.highlight .kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #007788; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #FF6600 } /* Literal.Number */
.highlight .s { color: #CC3300 } /* Literal.String */
.highlight .na { color: #330099 } /* Name.Attribute */
.highlight .nb { color: #336666 } /* Name.Builtin */
.highlight .nc { color: #00AA88; font-weight: bold } /* Name.Class */
.highlight .no { color: #336600 } /* Name.Constant */
.highlight .nd { color: #9999FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #CC0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #CC00FF } /* Name.Function */
.highlight .nl { color: #9999FF } /* Name.Label */
.highlight .nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #330099; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #003333 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #FF6600 } /* Literal.Number.Float */
.highlight .mh { color: #FF6600 } /* Literal.Number.Hex */
.highlight .mi { color: #FF6600 } /* Literal.Number.Integer */
.highlight .mo { color: #FF6600 } /* Literal.Number.Oct */
.highlight .sb { color: #CC3300 } /* Literal.String.Backtick */
.highlight .sc { color: #CC3300 } /* Literal.String.Char */
.highlight .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #CC3300 } /* Literal.String.Double */
.highlight .se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #CC3300 } /* Literal.String.Heredoc */
.highlight .si { color: #AA0000 } /* Literal.String.Interpol */
.highlight .sx { color: #CC3300 } /* Literal.String.Other */
.highlight .sr { color: #33AAAA } /* Literal.String.Regex */
.highlight .s1 { color: #CC3300 } /* Literal.String.Single */
.highlight .ss { color: #FFCC33 } /* Literal.String.Symbol */
.highlight .bp { color: #336666 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #003333 } /* Name.Variable.Class */
.highlight .vg { color: #003333 } /* Name.Variable.Global */
.highlight .vi { color: #003333 } /* Name.Variable.Instance */
.highlight .il { color: #FF6600 } /* Literal.Number.Integer.Long */

.highlight .p { color: hsl(250, 60%, 60%); }