<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.AE</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>OE</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern1.C.alt</key>
    <array>
      <string>C</string>
      <string>Cacute.alt</string>
      <string>Ccaron.alt</string>
      <string>Ccedilla.alt</string>
      <string>Ccircumflex.alt</string>
      <string>Cdotaccent.alt</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>nine</string>
      <string>nine.alt</string>
    </array>
    <key>public.kern1.Eng</key>
    <array>
      <string>Eng</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
    </array>
    <key>public.kern1.G.alt</key>
    <array>
      <string>Gbreve.alt</string>
      <string>Gcircumflex.alt</string>
      <string>Gcommaaccent.alt</string>
      <string>Gdotaccent.alt</string>
      <string>G.alt</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>M</string>
    </array>
    <key>public.kern1.IJ</key>
    <array>
      <string>IJ</string>
      <string>J</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Otilde</string>
      <string>zero</string>
      <string>eth</string>
    </array>
    <key>public.kern1.Oslash</key>
    <array>
      <string>Oslash</string>
      <string>Oslashacute</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>dollar</string>
    </array>
    <key>public.kern1.S.alt</key>
    <array>
      <string>Sacute.alt</string>
      <string>Scaron.alt</string>
      <string>Scedilla.alt</string>
      <string>Scircumflex.alt</string>
      <string>Scommaaccent.alt</string>
      <string>S.alt</string>
      <string>dollar.alt</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcommaaccent</string>
      <string>uni021A</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a.alt2</string>
      <string>aacute.alt2</string>
      <string>abreve.alt2</string>
      <string>acircumflex.alt2</string>
      <string>adieresis.alt2</string>
      <string>agrave.alt2</string>
      <string>amacron.alt2</string>
      <string>aogonek.alt2</string>
      <string>aring.alt2</string>
      <string>aringacute.alt2</string>
      <string>atilde.alt2</string>
      <string>aacute.alt</string>
      <string>abreve.alt</string>
      <string>acircumflex.alt</string>
      <string>adieresis.alt</string>
      <string>agrave.alt</string>
      <string>amacron.alt</string>
      <string>aogonek.alt</string>
      <string>aring.alt</string>
      <string>aringacute.alt</string>
      <string>atilde.alt</string>
      <string>a.alt</string>
    </array>
    <key>public.kern1.ae</key>
    <array>
      <string>ae.alt2</string>
      <string>aeacute.alt2</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>oe</string>
      <string>ae</string>
      <string>aeacute</string>
    </array>
    <key>public.kern1.afii57929</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.at</key>
    <array>
      <string>at</string>
      <string>at.case</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>p</string>
      <string>thorn</string>
    </array>
    <key>public.kern1.braceleft</key>
    <array>
      <string>braceleft</string>
      <string>bracketleft</string>
    </array>
    <key>public.kern1.braceright</key>
    <array>
      <string>braceright</string>
      <string>bracketright</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
    </array>
    <key>public.kern1.c.alt</key>
    <array>
      <string>cacute.alt</string>
      <string>ccaron.alt</string>
      <string>ccedilla.alt</string>
      <string>ccircumflex.alt</string>
      <string>cdotaccent.alt</string>
      <string>c.alt</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern1.copyright</key>
    <array>
      <string>copyright</string>
      <string>copyright.alt</string>
      <string>registered</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
      <string>dcroat</string>
      <string>fl</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcommaaccent</string>
      <string>lslash</string>
    </array>
    <key>public.kern1.dcaron</key>
    <array>
      <string>dcaron</string>
      <string>lcaron</string>
    </array>
    <key>public.kern1.dotlessi</key>
    <array>
      <string>dotlessi</string>
      <string>fi</string>
      <string>i</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.e.alt</key>
    <array>
      <string>eacute.alt</string>
      <string>ebreve.alt</string>
      <string>ecaron.alt</string>
      <string>ecircumflex.alt</string>
      <string>edieresis.alt</string>
      <string>edotaccent.alt</string>
      <string>egrave.alt</string>
      <string>emacron.alt</string>
      <string>eogonek.alt</string>
      <string>ae.alt</string>
      <string>e.alt</string>
    </array>
    <key>public.kern1.eight</key>
    <array>
      <string>eight</string>
      <string>three</string>
      <string>three.alt</string>
      <string>B</string>
      <string>germandbls</string>
    </array>
    <key>public.kern1.emdash</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
    </array>
    <key>public.kern1.eng</key>
    <array>
      <string>eng</string>
      <string>ij</string>
      <string>j</string>
      <string>y.alt</string>
      <string>g.alt</string>
      <string>g</string>
      <string>gcommaaccent.alt</string>
      <string>gcommaaccent</string>
      <string>gbreve.alt</string>
      <string>gcircumflex.alt</string>
      <string>gdotaccent.alt</string>
      <string>yacute.alt</string>
      <string>ycircumflex.alt</string>
      <string>ydieresis.alt</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gdotaccent</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>q</string>
      <string>jcircumflex</string>
    </array>
    <key>public.kern1.five</key>
    <array>
      <string>five</string>
      <string>five.alt</string>
    </array>
    <key>public.kern1.five.osf</key>
    <array>
      <string>five.osf</string>
      <string>five.osf.alt</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g.alt2</string>
      <string>gbreve.alt2</string>
      <string>gcircumflex.alt2</string>
      <string>gcommaaccent.alt2</string>
      <string>gdotaccent.alt2</string>
    </array>
    <key>public.kern1.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guillemotleft.case</key>
    <array>
      <string>guilsinglleft.case</string>
      <string>guillemotleft.case</string>
    </array>
    <key>public.kern1.guillemotright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.guillemotright.case</key>
    <array>
      <string>guillemotright.case</string>
      <string>guilsinglright.case</string>
    </array>
    <key>public.kern1.h</key>
    <array>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>napostrophe</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.hyphen.case</key>
    <array>
      <string>emdash.case</string>
      <string>endash.case</string>
      <string>hyphen.case</string>
      <string>plus</string>
      <string>minus</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>kgreenlandic</string>
    </array>
    <key>public.kern1.minute</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.nine.osf</key>
    <array>
      <string>nine.osf</string>
      <string>nine.osf.alt</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>otilde</string>
    </array>
    <key>public.kern1.oslash</key>
    <array>
      <string>oslash</string>
      <string>oslashacute</string>
    </array>
    <key>public.kern1.question</key>
    <array>
      <string>question</string>
      <string>question.alt</string>
    </array>
    <key>public.kern1.quotedblleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern1.s.alt</key>
    <array>
      <string>sacute.alt</string>
      <string>scaron.alt</string>
      <string>scedilla.alt</string>
      <string>scircumflex.alt</string>
      <string>scommaaccent.alt</string>
      <string>s.alt</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcommaaccent</string>
      <string>uni021B</string>
    </array>
    <key>public.kern1.t.alt</key>
    <array>
      <string>tcaron.alt</string>
      <string>tcommaaccent.alt</string>
      <string>t.alt</string>
      <string>uni021B.alt</string>
    </array>
    <key>public.kern1.t.alt2</key>
    <array>
      <string>tcaron.alt2</string>
      <string>tcommaaccent.alt2</string>
      <string>t.alt2</string>
      <string>uni021B.alt2</string>
    </array>
    <key>public.kern1.three.osf</key>
    <array>
      <string>three.osf</string>
      <string>three.osf.alt</string>
    </array>
    <key>public.kern1.two</key>
    <array>
      <string>two</string>
      <string>two.alt</string>
    </array>
    <key>public.kern1.two.osf</key>
    <array>
      <string>two.osf</string>
      <string>two.osf.alt</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y.alt2</string>
      <string>yacute.alt2</string>
      <string>ycircumflex.alt2</string>
      <string>ydieresis.alt2</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
    </array>
    <key>public.kern2.AE</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
    </array>
    <key>public.kern2.B</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Eth</string>
      <string>F</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>P</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Thorn</string>
      <string>one</string>
      <string>uni1E9E</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>O</string>
      <string>OE</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>C</string>
      <string>G.alt</string>
      <string>zero</string>
      <string>six</string>
      <string>six.alt</string>
      <string>Cacute.alt</string>
      <string>Ccaron.alt</string>
      <string>Ccedilla.alt</string>
      <string>Ccircumflex.alt</string>
      <string>Cdotaccent.alt</string>
      <string>Gbreve.alt</string>
      <string>Gcircumflex.alt</string>
      <string>Gcommaaccent.alt</string>
      <string>Gdotaccent.alt</string>
    </array>
    <key>public.kern2.Eng</key>
    <array>
      <string>Eng</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>afii61352</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern2.Oslash</key>
    <array>
      <string>Oslashacute</string>
      <string>Oslash</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>dollar</string>
    </array>
    <key>public.kern2.S.alt</key>
    <array>
      <string>Sacute.alt</string>
      <string>Scaron.alt</string>
      <string>Scedilla.alt</string>
      <string>Scircumflex.alt</string>
      <string>Scommaaccent.alt</string>
      <string>S.alt</string>
      <string>dollar.alt</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcommaaccent</string>
      <string>uni021A</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a.alt2</string>
      <string>aacute.alt2</string>
      <string>abreve.alt2</string>
      <string>acircumflex.alt2</string>
      <string>adieresis.alt2</string>
      <string>ae.alt2</string>
      <string>aeacute.alt2</string>
      <string>agrave.alt2</string>
      <string>amacron.alt2</string>
      <string>aogonek.alt2</string>
      <string>aring.alt2</string>
      <string>aringacute.alt2</string>
      <string>atilde.alt2</string>
    </array>
    <key>public.kern2.a.alt</key>
    <array>
      <string>aacute.alt</string>
      <string>abreve.alt</string>
      <string>acircumflex.alt</string>
      <string>adieresis.alt</string>
      <string>aeacute.alt</string>
      <string>agrave.alt</string>
      <string>amacron.alt</string>
      <string>aogonek.alt</string>
      <string>aring.alt</string>
      <string>aringacute.alt</string>
      <string>atilde.alt</string>
      <string>a.alt</string>
      <string>ae.alt</string>
    </array>
    <key>public.kern2.at</key>
    <array>
      <string>at</string>
      <string>at.case</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>b</string>
      <string>thorn</string>
    </array>
    <key>public.kern2.braceleft</key>
    <array>
      <string>braceleft</string>
      <string>bracketleft</string>
    </array>
    <key>public.kern2.braceright</key>
    <array>
      <string>braceright</string>
      <string>bracketright</string>
    </array>
    <key>public.kern2.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>eth</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>oe</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>q</string>
      <string>a</string>
      <string>ae</string>
      <string>c.alt</string>
      <string>e.alt</string>
      <string>g.alt</string>
      <string>cacute.alt</string>
      <string>ccaron.alt</string>
      <string>ccedilla.alt</string>
      <string>ccircumflex.alt</string>
      <string>cdotaccent.alt</string>
      <string>eacute.alt</string>
      <string>ebreve.alt</string>
      <string>ecaron.alt</string>
      <string>ecircumflex.alt</string>
      <string>edieresis.alt</string>
      <string>edotaccent.alt</string>
      <string>egrave.alt</string>
      <string>emacron.alt</string>
      <string>eogonek.alt</string>
      <string>gbreve.alt</string>
      <string>gcircumflex.alt</string>
      <string>gdotaccent.alt</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>aeacute</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gdotaccent</string>
      <string>gcommaaccent.alt</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern2.copyright</key>
    <array>
      <string>copyright</string>
      <string>copyright.alt</string>
      <string>registered</string>
    </array>
    <key>public.kern2.dotlessi</key>
    <array>
      <string>dotlessi</string>
      <string>i</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>ij</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>p</string>
      <string>eng</string>
    </array>
    <key>public.kern2.emdash</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
    </array>
    <key>public.kern2.eng</key>
    <array>
      <string>kgreenlandic</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>fi</string>
      <string>fl</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g.alt2</string>
      <string>gbreve.alt2</string>
      <string>gcircumflex.alt2</string>
      <string>gcommaaccent.alt2</string>
      <string>gdotaccent.alt2</string>
    </array>
    <key>public.kern2.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guillemotleft.case</key>
    <array>
      <string>guillemotleft.case</string>
      <string>guilsinglleft.case</string>
    </array>
    <key>public.kern2.guillemotright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.guillemotright.case</key>
    <array>
      <string>guillemotright.case</string>
      <string>guilsinglright.case</string>
    </array>
    <key>public.kern2.h</key>
    <array>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>germandbls</string>
    </array>
    <key>public.kern2.hyphen.case</key>
    <array>
      <string>emdash.case</string>
      <string>endash.case</string>
      <string>hyphen.case</string>
      <string>plus</string>
      <string>minus</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern2.minute</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.onesuperior</key>
    <array>
      <string>onesuperior</string>
      <string>threesuperior</string>
      <string>twosuperior</string>
    </array>
    <key>public.kern2.quotedblleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern2.s.alt</key>
    <array>
      <string>sacute.alt</string>
      <string>scaron.alt</string>
      <string>scedilla.alt</string>
      <string>scircumflex.alt</string>
      <string>scommaaccent.alt</string>
      <string>s.alt</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcommaaccent</string>
      <string>uni021B</string>
    </array>
    <key>public.kern2.t.alt</key>
    <array>
      <string>tcaron.alt</string>
      <string>tcommaaccent.alt</string>
      <string>t.alt</string>
      <string>uni021B.alt</string>
    </array>
    <key>public.kern2.t.alt2</key>
    <array>
      <string>tcaron.alt2</string>
      <string>tcommaaccent.alt2</string>
      <string>t.alt2</string>
      <string>uni021B.alt2</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>yacute.alt</string>
      <string>ycircumflex.alt</string>
      <string>ydieresis.alt</string>
      <string>y.alt</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y.alt2</string>
      <string>yacute.alt2</string>
      <string>ycircumflex.alt2</string>
      <string>ydieresis.alt2</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
  </dict>
</plist>
