<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>ascending</key>
        <array>
          <string>.notdef</string>
          <string>A</string>
          <string>B</string>
          <string>C</string>
          <string>D</string>
          <string>E</string>
          <string>F</string>
          <string>G</string>
          <string>H</string>
          <string>I</string>
          <string>J</string>
          <string>K</string>
          <string>L</string>
          <string>M</string>
          <string>N</string>
          <string>O</string>
          <string>P</string>
          <string>Q</string>
          <string>R</string>
          <string>S</string>
          <string>T</string>
          <string>U</string>
          <string>V</string>
          <string>W</string>
          <string>X</string>
          <string>Y</string>
          <string>Z</string>
          <string>a</string>
          <string>b</string>
          <string>c</string>
          <string>d</string>
          <string>e</string>
          <string>f</string>
          <string>g</string>
          <string>h</string>
          <string>i</string>
          <string>j</string>
          <string>k</string>
          <string>l</string>
          <string>m</string>
          <string>n</string>
          <string>o</string>
          <string>p</string>
          <string>q</string>
          <string>r</string>
          <string>s</string>
          <string>t</string>
          <string>u</string>
          <string>v</string>
          <string>w</string>
          <string>x</string>
          <string>y</string>
          <string>z</string>
          <string>Aacute</string>
          <string>aacute</string>
          <string>Abreve</string>
          <string>abreve</string>
          <string>Acircumflex</string>
          <string>acircumflex</string>
          <string>Adieresis</string>
          <string>adieresis</string>
          <string>Agrave</string>
          <string>agrave</string>
          <string>Amacron</string>
          <string>amacron</string>
          <string>Aogonek</string>
          <string>aogonek</string>
          <string>Aring</string>
          <string>aring</string>
          <string>Aringacute</string>
          <string>aringacute</string>
          <string>Atilde</string>
          <string>atilde</string>
          <string>AE</string>
          <string>ae</string>
          <string>AEacute</string>
          <string>aeacute</string>
          <string>Cacute</string>
          <string>cacute</string>
          <string>Ccaron</string>
          <string>ccaron</string>
          <string>Ccedilla</string>
          <string>ccedilla</string>
          <string>Ccircumflex</string>
          <string>ccircumflex</string>
          <string>Cdotaccent</string>
          <string>cdotaccent</string>
          <string>Dcaron</string>
          <string>dcaron</string>
          <string>Dcroat</string>
          <string>dcroat</string>
          <string>Eacute</string>
          <string>eacute</string>
          <string>Ebreve</string>
          <string>ebreve</string>
          <string>Ecaron</string>
          <string>ecaron</string>
          <string>Ecircumflex</string>
          <string>ecircumflex</string>
          <string>Edieresis</string>
          <string>edieresis</string>
          <string>Edotaccent</string>
          <string>edotaccent</string>
          <string>Egrave</string>
          <string>egrave</string>
          <string>Emacron</string>
          <string>emacron</string>
          <string>Eng</string>
          <string>eng</string>
          <string>Eogonek</string>
          <string>eogonek</string>
          <string>Eth</string>
          <string>eth</string>
          <string>fi</string>
          <string>fl</string>
          <string>Gbreve</string>
          <string>gbreve</string>
          <string>Gcircumflex</string>
          <string>gcircumflex</string>
          <string>Gcommaaccent</string>
          <string>gcommaaccent</string>
          <string>Gdotaccent</string>
          <string>gdotaccent</string>
          <string>Hbar</string>
          <string>hbar</string>
          <string>Hcircumflex</string>
          <string>hcircumflex</string>
          <string>Iacute</string>
          <string>iacute</string>
          <string>Ibreve</string>
          <string>ibreve</string>
          <string>Icircumflex</string>
          <string>icircumflex</string>
          <string>Idieresis</string>
          <string>idieresis</string>
          <string>Idotaccent</string>
          <string>Igrave</string>
          <string>igrave</string>
          <string>IJ</string>
          <string>ij</string>
          <string>Imacron</string>
          <string>imacron</string>
          <string>Iogonek</string>
          <string>iogonek</string>
          <string>Itilde</string>
          <string>itilde</string>
          <string>dotlessi</string>
          <string>Jcircumflex</string>
          <string>jcircumflex</string>
          <string>Kcommaaccent</string>
          <string>kcommaaccent</string>
          <string>kgreenlandic</string>
          <string>Lacute</string>
          <string>lacute</string>
          <string>Lcaron</string>
          <string>lcaron</string>
          <string>Lcommaaccent</string>
          <string>lcommaaccent</string>
          <string>Ldot</string>
          <string>ldot</string>
          <string>Lslash</string>
          <string>lslash</string>
          <string>Nacute</string>
          <string>nacute</string>
          <string>napostrophe</string>
          <string>Ncaron</string>
          <string>ncaron</string>
          <string>Ncommaaccent</string>
          <string>ncommaaccent</string>
          <string>Ntilde</string>
          <string>ntilde</string>
          <string>Oacute</string>
          <string>oacute</string>
          <string>Obreve</string>
          <string>obreve</string>
          <string>Ocircumflex</string>
          <string>ocircumflex</string>
          <string>Odieresis</string>
          <string>odieresis</string>
          <string>Ograve</string>
          <string>ograve</string>
          <string>Ohungarumlaut</string>
          <string>ohungarumlaut</string>
          <string>Omacron</string>
          <string>omacron</string>
          <string>Oslash</string>
          <string>oslash</string>
          <string>Oslashacute</string>
          <string>oslashacute</string>
          <string>Otilde</string>
          <string>otilde</string>
          <string>OE</string>
          <string>oe</string>
          <string>Racute</string>
          <string>racute</string>
          <string>Rcaron</string>
          <string>rcaron</string>
          <string>Rcommaaccent</string>
          <string>rcommaaccent</string>
          <string>Sacute</string>
          <string>sacute</string>
          <string>Scaron</string>
          <string>scaron</string>
          <string>Scedilla</string>
          <string>scedilla</string>
          <string>Scircumflex</string>
          <string>scircumflex</string>
          <string>Scommaaccent</string>
          <string>scommaaccent</string>
          <string>Tbar</string>
          <string>tbar</string>
          <string>Tcaron</string>
          <string>tcaron</string>
          <string>Tcommaaccent</string>
          <string>tcommaaccent</string>
          <string>uni021A</string>
          <string>uni021B</string>
          <string>Thorn</string>
          <string>thorn</string>
          <string>Uacute</string>
          <string>uacute</string>
          <string>Ubreve</string>
          <string>ubreve</string>
          <string>Ucircumflex</string>
          <string>ucircumflex</string>
          <string>Udieresis</string>
          <string>udieresis</string>
          <string>Ugrave</string>
          <string>ugrave</string>
          <string>Uhungarumlaut</string>
          <string>uhungarumlaut</string>
          <string>Umacron</string>
          <string>umacron</string>
          <string>Uogonek</string>
          <string>uogonek</string>
          <string>Uring</string>
          <string>uring</string>
          <string>Utilde</string>
          <string>utilde</string>
          <string>Wacute</string>
          <string>wacute</string>
          <string>Wcircumflex</string>
          <string>wcircumflex</string>
          <string>Wdieresis</string>
          <string>wdieresis</string>
          <string>Wgrave</string>
          <string>wgrave</string>
          <string>Yacute</string>
          <string>yacute</string>
          <string>Ycircumflex</string>
          <string>ycircumflex</string>
          <string>Ydieresis</string>
          <string>ydieresis</string>
          <string>Zacute</string>
          <string>zacute</string>
          <string>Zcaron</string>
          <string>zcaron</string>
          <string>Zdotaccent</string>
          <string>zdotaccent</string>
          <string>uni1E9E</string>
          <string>germandbls</string>
          <string>C.alt</string>
          <string>Ccedilla.alt</string>
          <string>Cacute.alt</string>
          <string>Ccaron.alt</string>
          <string>Ccircumflex.alt</string>
          <string>Cdotaccent.alt</string>
          <string>G.alt</string>
          <string>Gbreve.alt</string>
          <string>Gcircumflex.alt</string>
          <string>Gcommaaccent.alt</string>
          <string>Gdotaccent.alt</string>
          <string>S.alt</string>
          <string>Sacute.alt</string>
          <string>Scaron.alt</string>
          <string>Scedilla.alt</string>
          <string>Scircumflex.alt</string>
          <string>Scommaaccent.alt</string>
          <string>a.alt</string>
          <string>agrave.alt</string>
          <string>acircumflex.alt</string>
          <string>aacute.alt</string>
          <string>abreve.alt</string>
          <string>amacron.alt</string>
          <string>aogonek.alt</string>
          <string>aring.alt</string>
          <string>aringacute.alt</string>
          <string>atilde.alt</string>
          <string>adieresis.alt</string>
          <string>ae.alt</string>
          <string>aeacute.alt</string>
          <string>c.alt</string>
          <string>ccedilla.alt</string>
          <string>cacute.alt</string>
          <string>ccaron.alt</string>
          <string>ccircumflex.alt</string>
          <string>cdotaccent.alt</string>
          <string>e.alt</string>
          <string>eacute.alt</string>
          <string>egrave.alt</string>
          <string>ecircumflex.alt</string>
          <string>edieresis.alt</string>
          <string>ebreve.alt</string>
          <string>ecaron.alt</string>
          <string>edotaccent.alt</string>
          <string>emacron.alt</string>
          <string>eogonek.alt</string>
          <string>a.alt2</string>
          <string>agrave.alt2</string>
          <string>acircumflex.alt2</string>
          <string>adieresis.alt2</string>
          <string>aacute.alt2</string>
          <string>abreve.alt2</string>
          <string>amacron.alt2</string>
          <string>aogonek.alt2</string>
          <string>aring.alt2</string>
          <string>aringacute.alt2</string>
          <string>atilde.alt2</string>
          <string>ae.alt2</string>
          <string>aeacute.alt2</string>
          <string>g.alt</string>
          <string>gbreve.alt</string>
          <string>gcircumflex.alt</string>
          <string>gdotaccent.alt</string>
          <string>gcommaaccent.alt</string>
          <string>g.alt2</string>
          <string>gbreve.alt2</string>
          <string>gcircumflex.alt2</string>
          <string>gdotaccent.alt2</string>
          <string>gcommaaccent.alt2</string>
          <string>s.alt</string>
          <string>sacute.alt</string>
          <string>scaron.alt</string>
          <string>scedilla.alt</string>
          <string>scircumflex.alt</string>
          <string>scommaaccent.alt</string>
          <string>t.alt</string>
          <string>tbar.alt</string>
          <string>tcaron.alt</string>
          <string>tcommaaccent.alt</string>
          <string>uni021B.alt</string>
          <string>t.alt2</string>
          <string>tbar.alt2</string>
          <string>tcaron.alt2</string>
          <string>tcommaaccent.alt2</string>
          <string>uni021B.alt2</string>
          <string>y.alt</string>
          <string>yacute.alt</string>
          <string>ycircumflex.alt</string>
          <string>ydieresis.alt</string>
          <string>y.alt2</string>
          <string>yacute.alt2</string>
          <string>ycircumflex.alt2</string>
          <string>ydieresis.alt2</string>
          <string>zero</string>
          <string>one</string>
          <string>two</string>
          <string>three</string>
          <string>four</string>
          <string>five</string>
          <string>six</string>
          <string>seven</string>
          <string>eight</string>
          <string>nine</string>
          <string>two.alt</string>
          <string>three.alt</string>
          <string>five.alt</string>
          <string>six.alt</string>
          <string>nine.alt</string>
          <string>period</string>
          <string>comma</string>
          <string>colon</string>
          <string>semicolon</string>
          <string>ellipsis</string>
          <string>periodcentered</string>
          <string>periodcentered.case</string>
          <string>bullet</string>
          <string>bullet.case</string>
          <string>ampersand</string>
          <string>ampersand.alt</string>
          <string>exclam</string>
          <string>exclamdown</string>
          <string>exclamdown.case</string>
          <string>question</string>
          <string>question.alt</string>
          <string>questiondown</string>
          <string>questiondown.alt</string>
          <string>questiondown.case</string>
          <string>questiondown.alt.case</string>
          <string>quotedblleft</string>
          <string>quotedblright</string>
          <string>quoteleft</string>
          <string>quoteright</string>
          <string>quotedblbase</string>
          <string>quotesinglbase</string>
          <string>guillemotleft</string>
          <string>guillemotright</string>
          <string>guillemotleft.case</string>
          <string>guillemotright.case</string>
          <string>guilsinglleft</string>
          <string>guilsinglright</string>
          <string>guilsinglleft.case</string>
          <string>guilsinglright.case</string>
          <string>hyphen</string>
          <string>endash</string>
          <string>emdash</string>
          <string>hyphen.case</string>
          <string>endash.case</string>
          <string>emdash.case</string>
          <string>underscore</string>
          <string>slash</string>
          <string>backslash</string>
          <string>bar</string>
          <string>brokenbar</string>
          <string>parenleft</string>
          <string>parenright</string>
          <string>parenleft.case</string>
          <string>parenright.case</string>
          <string>bracketleft</string>
          <string>bracketright</string>
          <string>bracketleft.case</string>
          <string>bracketright.case</string>
          <string>braceleft</string>
          <string>braceright</string>
          <string>braceleft.case</string>
          <string>braceright.case</string>
          <string>at</string>
          <string>at.case</string>
          <string>copyright</string>
          <string>copyright.alt</string>
          <string>registered</string>
          <string>trademark</string>
          <string>asterisk</string>
          <string>dagger</string>
          <string>daggerdbl</string>
          <string>asciicircum</string>
          <string>asciitilde</string>
          <string>dollar</string>
          <string>dollar.alt</string>
          <string>cent</string>
          <string>cent.alt</string>
          <string>sterling</string>
          <string>sterling.alt</string>
          <string>yen</string>
          <string>Euro</string>
          <string>Euro.alt</string>
          <string>numbersign</string>
          <string>paragraph</string>
          <string>section</string>
          <string>section.alt</string>
          <string>ordfeminine</string>
          <string>ordfeminine.alt</string>
          <string>ordfeminine.alt2</string>
          <string>ordmasculine</string>
          <string>degree</string>
          <string>percent</string>
          <string>perthousand</string>
          <string>quotedbl</string>
          <string>quotesingle</string>
          <string>plus</string>
          <string>minus</string>
          <string>less</string>
          <string>greater</string>
          <string>equal</string>
          <string>multiply</string>
          <string>divide</string>
          <string>zero.osf</string>
          <string>one.osf</string>
          <string>two.osf</string>
          <string>three.osf</string>
          <string>four.osf</string>
          <string>five.osf</string>
          <string>six.osf</string>
          <string>seven.osf</string>
          <string>eight.osf</string>
          <string>nine.osf</string>
          <string>two.osf.alt</string>
          <string>three.osf.alt</string>
          <string>five.osf.alt</string>
          <string>six.osf.alt</string>
          <string>nine.osf.alt</string>
          <string>dollar.osf</string>
          <string>sterling.osf</string>
          <string>Euro.osf</string>
          <string>yen.osf</string>
          <string>dollar.osf.alt</string>
          <string>sterling.osf.alt</string>
          <string>Euro.osf.alt</string>
          <string>acute</string>
          <string>hungarumlaut</string>
          <string>caron.alt</string>
          <string>grave</string>
          <string>circumflex</string>
          <string>caron</string>
          <string>breve</string>
          <string>tilde</string>
          <string>macron</string>
          <string>dieresis</string>
          <string>dotaccent</string>
          <string>ring</string>
          <string>commaaccent</string>
          <string>cedilla</string>
          <string>ogonek</string>
          <string>baraccent</string>
          <string>afii61352</string>
          <string>onesuperior</string>
          <string>twosuperior</string>
          <string>threesuperior</string>
          <string>onequarter</string>
          <string>onehalf</string>
          <string>threequarters</string>
          <string>onehalf.alt</string>
          <string>threequarters.alt</string>
          <string>fraction</string>
          <string>zero.numr</string>
          <string>one.numr</string>
          <string>two.numr</string>
          <string>three.numr</string>
          <string>four.numr</string>
          <string>five.numr</string>
          <string>six.numr</string>
          <string>seven.numr</string>
          <string>eight.numr</string>
          <string>nine.numr</string>
          <string>two.alt.numr</string>
          <string>three.alt.numr</string>
          <string>five.alt.numr</string>
          <string>six.alt.numr</string>
          <string>nine.alt.numr</string>
          <string>zero.dnom</string>
          <string>one.dnom</string>
          <string>two.dnom</string>
          <string>three.dnom</string>
          <string>four.dnom</string>
          <string>five.dnom</string>
          <string>six.dnom</string>
          <string>seven.dnom</string>
          <string>eight.dnom</string>
          <string>nine.dnom</string>
          <string>two.alt.dnom</string>
          <string>three.alt.dnom</string>
          <string>five.alt.dnom</string>
          <string>six.alt.dnom</string>
          <string>nine.alt.dnom</string>
          <string>arrowleft</string>
          <string>arrowup</string>
          <string>arrowright</string>
          <string>arrowdown</string>
          <string>filledbox</string>
          <string>space</string>
          <string>thinspace</string>
          <string>nbspace</string>
          <string>Aacute.compact</string>
        </array>
        <key>type</key>
        <string>glyphList</string>
      </dict>
    </array>
    <key>com.loicsander.scaleFast</key>
    <dict>
      <key>guides</key>
      <array/>
      <key>presets</key>
      <dict/>
    </dict>
    <key>com.typemytype.robofont.background.layerStrokeColor</key>
    <array>
      <real>0.3189906881</real>
      <real>0.3189906881</real>
      <real>0.3189906881</real>
      <real>0.21</real>
    </array>
    <key>com.typemytype.robofont.binarySource</key>
    <string>/Users/jamesedmondson/Library/Fonts/QuixoPro.otf</string>
    <key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.layerName</key>
    <string>foreground</string>
    <key>com.typemytype.robofont.compileSettings.path</key>
    <string>/Users/jamesedmondson/Dropbox/Ohno/Fonts/DevObviously_compressed_black.otf</string>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.foreground.layerStrokeColor</key>
    <array>
      <real>0.3189906881</real>
      <real>0.3189906881</real>
      <real>0.3189906881</real>
      <real>0.26</real>
    </array>
    <key>com.typemytype.robofont.guideline.magnetic.6lmnulpnLT</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.MA9AIQ5b3O</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.agp5ZEBBfz</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.hGgdg963dV</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.oeIcVHklWS</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.tBJk483qt3</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.uDFof2HFx3</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.showMeasurements.MA9AIQ5b3O</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.agp5ZEBBfz</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.hGgdg963dV</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.tBJk483qt3</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.uDFof2HFx3</key>
    <false/>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>0</integer>
    <key>com.typesupply.MetricsMachine4.groupColors</key>
    <dict>
      <key>@MMK_L_A</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
    </dict>
    <key>com.typesupply.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>ascending</key>
        <array>
          <string>.notdef</string>
          <string>A</string>
          <string>B</string>
          <string>C</string>
          <string>D</string>
          <string>E</string>
          <string>F</string>
          <string>G</string>
          <string>H</string>
          <string>I</string>
          <string>J</string>
          <string>K</string>
          <string>L</string>
          <string>M</string>
          <string>N</string>
          <string>O</string>
          <string>P</string>
          <string>Q</string>
          <string>R</string>
          <string>S</string>
          <string>T</string>
          <string>U</string>
          <string>V</string>
          <string>W</string>
          <string>X</string>
          <string>Y</string>
          <string>Z</string>
          <string>a</string>
          <string>b</string>
          <string>c</string>
          <string>d</string>
          <string>e</string>
          <string>f</string>
          <string>g</string>
          <string>h</string>
          <string>i</string>
          <string>j</string>
          <string>k</string>
          <string>l</string>
          <string>m</string>
          <string>n</string>
          <string>o</string>
          <string>p</string>
          <string>q</string>
          <string>r</string>
          <string>s</string>
          <string>t</string>
          <string>u</string>
          <string>v</string>
          <string>w</string>
          <string>x</string>
          <string>y</string>
          <string>z</string>
          <string>Aacute</string>
          <string>aacute</string>
          <string>Abreve</string>
          <string>abreve</string>
          <string>Acircumflex</string>
          <string>acircumflex</string>
          <string>Adieresis</string>
          <string>adieresis</string>
          <string>Agrave</string>
          <string>agrave</string>
          <string>Amacron</string>
          <string>amacron</string>
          <string>Aogonek</string>
          <string>aogonek</string>
          <string>Aring</string>
          <string>aring</string>
          <string>Aringacute</string>
          <string>aringacute</string>
          <string>Atilde</string>
          <string>atilde</string>
          <string>AE</string>
          <string>ae</string>
          <string>AEacute</string>
          <string>aeacute</string>
          <string>Cacute</string>
          <string>cacute</string>
          <string>Ccaron</string>
          <string>ccaron</string>
          <string>Ccedilla</string>
          <string>ccedilla</string>
          <string>Ccircumflex</string>
          <string>ccircumflex</string>
          <string>Cdotaccent</string>
          <string>cdotaccent</string>
          <string>Dcaron</string>
          <string>dcaron</string>
          <string>Dcroat</string>
          <string>dcroat</string>
          <string>Eacute</string>
          <string>eacute</string>
          <string>Ebreve</string>
          <string>ebreve</string>
          <string>Ecaron</string>
          <string>ecaron</string>
          <string>Ecircumflex</string>
          <string>ecircumflex</string>
          <string>Edieresis</string>
          <string>edieresis</string>
          <string>Edotaccent</string>
          <string>edotaccent</string>
          <string>Egrave</string>
          <string>egrave</string>
          <string>Emacron</string>
          <string>emacron</string>
          <string>Eng</string>
          <string>eng</string>
          <string>Eogonek</string>
          <string>eogonek</string>
          <string>Eth</string>
          <string>eth</string>
          <string>fi</string>
          <string>fl</string>
          <string>Gbreve</string>
          <string>gbreve</string>
          <string>Gcircumflex</string>
          <string>gcircumflex</string>
          <string>Gcommaaccent</string>
          <string>gcommaaccent</string>
          <string>Gdotaccent</string>
          <string>gdotaccent</string>
          <string>Hbar</string>
          <string>hbar</string>
          <string>Hcircumflex</string>
          <string>hcircumflex</string>
          <string>Iacute</string>
          <string>iacute</string>
          <string>Ibreve</string>
          <string>ibreve</string>
          <string>Icircumflex</string>
          <string>icircumflex</string>
          <string>Idieresis</string>
          <string>idieresis</string>
          <string>Idotaccent</string>
          <string>Igrave</string>
          <string>igrave</string>
          <string>IJ</string>
          <string>ij</string>
          <string>Imacron</string>
          <string>imacron</string>
          <string>Iogonek</string>
          <string>iogonek</string>
          <string>Itilde</string>
          <string>itilde</string>
          <string>dotlessi</string>
          <string>Jcircumflex</string>
          <string>jcircumflex</string>
          <string>Kcommaaccent</string>
          <string>kcommaaccent</string>
          <string>kgreenlandic</string>
          <string>Lacute</string>
          <string>lacute</string>
          <string>Lcaron</string>
          <string>lcaron</string>
          <string>Lcommaaccent</string>
          <string>lcommaaccent</string>
          <string>Ldot</string>
          <string>ldot</string>
          <string>Lslash</string>
          <string>lslash</string>
          <string>Nacute</string>
          <string>nacute</string>
          <string>napostrophe</string>
          <string>Ncaron</string>
          <string>ncaron</string>
          <string>Ncommaaccent</string>
          <string>ncommaaccent</string>
          <string>Ntilde</string>
          <string>ntilde</string>
          <string>Oacute</string>
          <string>oacute</string>
          <string>Obreve</string>
          <string>obreve</string>
          <string>Ocircumflex</string>
          <string>ocircumflex</string>
          <string>Odieresis</string>
          <string>odieresis</string>
          <string>Ograve</string>
          <string>ograve</string>
          <string>Ohungarumlaut</string>
          <string>ohungarumlaut</string>
          <string>Omacron</string>
          <string>omacron</string>
          <string>Oslash</string>
          <string>oslash</string>
          <string>Oslashacute</string>
          <string>oslashacute</string>
          <string>Otilde</string>
          <string>otilde</string>
          <string>OE</string>
          <string>oe</string>
          <string>Racute</string>
          <string>racute</string>
          <string>Rcaron</string>
          <string>rcaron</string>
          <string>Rcommaaccent</string>
          <string>rcommaaccent</string>
          <string>Sacute</string>
          <string>sacute</string>
          <string>Scaron</string>
          <string>scaron</string>
          <string>Scedilla</string>
          <string>scedilla</string>
          <string>Scircumflex</string>
          <string>scircumflex</string>
          <string>Scommaaccent</string>
          <string>scommaaccent</string>
          <string>Tbar</string>
          <string>tbar</string>
          <string>Tcaron</string>
          <string>tcaron</string>
          <string>Tcommaaccent</string>
          <string>tcommaaccent</string>
          <string>uni021A</string>
          <string>uni021B</string>
          <string>Thorn</string>
          <string>thorn</string>
          <string>Uacute</string>
          <string>uacute</string>
          <string>Ubreve</string>
          <string>ubreve</string>
          <string>Ucircumflex</string>
          <string>ucircumflex</string>
          <string>Udieresis</string>
          <string>udieresis</string>
          <string>Ugrave</string>
          <string>ugrave</string>
          <string>Uhungarumlaut</string>
          <string>uhungarumlaut</string>
          <string>Umacron</string>
          <string>umacron</string>
          <string>Uogonek</string>
          <string>uogonek</string>
          <string>Uring</string>
          <string>uring</string>
          <string>Utilde</string>
          <string>utilde</string>
          <string>Wacute</string>
          <string>wacute</string>
          <string>Wcircumflex</string>
          <string>wcircumflex</string>
          <string>Wdieresis</string>
          <string>wdieresis</string>
          <string>Wgrave</string>
          <string>wgrave</string>
          <string>Yacute</string>
          <string>yacute</string>
          <string>Ycircumflex</string>
          <string>ycircumflex</string>
          <string>Ydieresis</string>
          <string>ydieresis</string>
          <string>Zacute</string>
          <string>zacute</string>
          <string>Zcaron</string>
          <string>zcaron</string>
          <string>Zdotaccent</string>
          <string>zdotaccent</string>
          <string>uni1E9E</string>
          <string>germandbls</string>
          <string>zero</string>
          <string>one</string>
          <string>two</string>
          <string>three</string>
          <string>four</string>
          <string>five</string>
          <string>six</string>
          <string>seven</string>
          <string>eight</string>
          <string>nine</string>
          <string>period</string>
          <string>comma</string>
          <string>colon</string>
          <string>semicolon</string>
          <string>ellipsis</string>
          <string>periodcentered</string>
          <string>periodcentered.case</string>
          <string>bullet</string>
          <string>bullet.case</string>
          <string>ampersand</string>
          <string>exclam</string>
          <string>exclamdown</string>
          <string>question</string>
          <string>questiondown</string>
          <string>quotedblleft</string>
          <string>quotedblright</string>
          <string>quoteleft</string>
          <string>quoteright</string>
          <string>quotedblbase</string>
          <string>quotesinglbase</string>
          <string>guillemotleft</string>
          <string>guillemotright</string>
          <string>guillemotleft.case</string>
          <string>guillemotright.case</string>
          <string>guilsinglleft</string>
          <string>guilsinglright</string>
          <string>guilsinglleft.case</string>
          <string>guilsinglright.case</string>
          <string>hyphen</string>
          <string>endash</string>
          <string>emdash</string>
          <string>hyphen.case</string>
          <string>endash.case</string>
          <string>emdash.case</string>
          <string>underscore</string>
          <string>slash</string>
          <string>backslash</string>
          <string>bar</string>
          <string>brokenbar</string>
          <string>parenleft</string>
          <string>parenright</string>
          <string>parenleft.case</string>
          <string>parenright.case</string>
          <string>bracketleft</string>
          <string>bracketright</string>
          <string>bracketleft.case</string>
          <string>bracketright.case</string>
          <string>braceleft</string>
          <string>braceright</string>
          <string>braceleft.case</string>
          <string>braceright.case</string>
          <string>at</string>
          <string>at.case</string>
          <string>copyright</string>
          <string>registered</string>
          <string>trademark</string>
          <string>asterisk</string>
          <string>dagger</string>
          <string>daggerdbl</string>
          <string>asciicircum</string>
          <string>asciitilde</string>
          <string>dollar</string>
          <string>cent</string>
          <string>sterling</string>
          <string>yen</string>
          <string>Euro</string>
          <string>numbersign</string>
          <string>paragraph</string>
          <string>section</string>
          <string>ordfeminine</string>
          <string>ordmasculine</string>
          <string>degree</string>
          <string>percent</string>
          <string>perthousand</string>
          <string>quotedbl</string>
          <string>quotesingle</string>
          <string>plus</string>
          <string>minus</string>
          <string>less</string>
          <string>greater</string>
          <string>equal</string>
          <string>multiply</string>
          <string>divide</string>
          <string>zero.osf</string>
          <string>one.osf</string>
          <string>two.osf</string>
          <string>three.osf</string>
          <string>four.osf</string>
          <string>five.osf</string>
          <string>six.osf</string>
          <string>seven.osf</string>
          <string>eight.osf</string>
          <string>nine.osf</string>
          <string>dollar.osf</string>
          <string>sterling.osf</string>
          <string>Euro.osf</string>
          <string>yen.osf</string>
          <string>acute</string>
          <string>hungarumlaut</string>
          <string>caron.alt</string>
          <string>grave</string>
          <string>circumflex</string>
          <string>caron</string>
          <string>breve</string>
          <string>tilde</string>
          <string>macron</string>
          <string>dieresis</string>
          <string>dotaccent</string>
          <string>ring</string>
          <string>commaaccent</string>
          <string>cedilla</string>
          <string>ogonek</string>
          <string>acute.case</string>
          <string>hungarumlaut.case</string>
          <string>grave.case</string>
          <string>circumflex.case</string>
          <string>caron.case</string>
          <string>breve.case</string>
          <string>tilde.case</string>
          <string>macron.case</string>
          <string>dieresis.case</string>
          <string>dotaccent.case</string>
          <string>ring.case</string>
          <string>afii61352</string>
          <string>onesuperior</string>
          <string>twosuperior</string>
          <string>threesuperior</string>
          <string>onequarter</string>
          <string>onehalf</string>
          <string>threequarters</string>
          <string>fraction</string>
          <string>zero.numr</string>
          <string>one.numr</string>
          <string>two.numr</string>
          <string>three.numr</string>
          <string>four.numr</string>
          <string>five.numr</string>
          <string>six.numr</string>
          <string>seven.numr</string>
          <string>eight.numr</string>
          <string>nine.numr</string>
          <string>zero.dnom</string>
          <string>one.dnom</string>
          <string>two.dnom</string>
          <string>three.dnom</string>
          <string>four.dnom</string>
          <string>five.dnom</string>
          <string>six.dnom</string>
          <string>seven.dnom</string>
          <string>eight.dnom</string>
          <string>nine.dnom</string>
          <string>arrowleft</string>
          <string>arrowup</string>
          <string>arrowright</string>
          <string>arrowdown</string>
          <string>arrowboth</string>
          <string>arrowupdn</string>
          <string>uni2196</string>
          <string>uni2197</string>
          <string>uni2198</string>
          <string>uni2199</string>
          <string>filledbox</string>
          <string>space</string>
          <string>thinspace</string>
          <string>nbspace</string>
          <string>a.alt</string>
          <string>c.alt</string>
          <string>s.alt</string>
          <string>e.alt</string>
          <string>g.alt</string>
          <string>y.alt</string>
          <string>G.alt</string>
          <string>S.alt</string>
          <string>C.alt</string>
          <string>two.alt</string>
          <string>nine.alt</string>
          <string>three.alt</string>
          <string>five.alt</string>
          <string>six.alt</string>
          <string>question.alt</string>
          <string>ampersand.alt</string>
          <string>t.alt</string>
          <string>g.alt2</string>
        </array>
        <key>type</key>
        <string>glyphList</string>
      </dict>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>D</string>
      <string>E</string>
      <string>L</string>
      <string>O</string>
      <string>P</string>
      <string>T</string>
      <string>Y</string>
      <string>C</string>
      <string>space</string>
    </array>
  </dict>
</plist>
