<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Coldtype Documentation</title>
    <link href="/assets/style.css?t={{build_unix}}" rel="stylesheet">
    <style>
        a {
            color: dodgerblue;
        }
        h2 {
            font-weight: bold;
            font-family: "MDIO-Web";
            font-weight: 800;
            color: darkorchid;
            text-transform: uppercase;
            margin-bottom: 20px;
            margin-top: 50px;
        }
        h3 {
            font-weight: bold;
            font-family: "MDIO-Web";
            font-weight: 800;
            color: darkorchid;
            margin-bottom: 10px;
            margin-top: 30px;
        }
        h4 {
            font-weight: bold;
            font-family: "MDIO-Web";
            font-weight: 800;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .doc ul {
            padding: 0px 30px 10px 10px;
        }
        .doc li {
            list-style: disc;
            padding: 5px;
        }
        .source-link {
            color: darkorchid;
            font-size: 0.9rem;
            margin-bottom: 10px;
        }
        .docstring {
            padding: 10px;
        }
        .docstring p {
            margin-bottom: 10px;
        }
        .docstring code {
            color: deeppink;
        }
        .docstring pre {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div id="main">
        <div id="main-inner">
            <div id="header">
                <a href="/">Coldtype Docs</a>
            </div>
            <div id="docs" class="post">
                {% for k,v in docs.items() %}
                    <h2>{{k}}</h2>
                    <ul>
                        {% for d in v %}
                            <li>
                                <div class="doc">
                                    <h3>{{ d.itself }}</h3>
                                    <div class="source-link"><em>source:</em> <a href="https://github.com/coldtype/coldtype/tree/main/coldtype/{{ d.path }}"> coldtype/{{ d.path }}</a></div>
                                    <div class="signature">
                                        {{ d.signature }}
                                        {# <ul>
                                        {% for p in d.signature.parameters %}
                                            <li>{{ p }} {{ p.annotation }}</li>
                                        {% endfor %}
                                        </ul> #}
                                    </div>
                                    <div class="docstring">{{ d.docstring }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</body>