<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="alternate" type="application/atom+xml" title="The Coldtype Blog Feed" href="/feed.xml">
  <title>Coldtype Docs</title>
  <link href="/assets/style.css?t={{build_unix}}" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="main-inner">
            <div id="header">Coldtype Docs</div>
            <div id="socials">
                <ul>
                    <li><a href="https://coldtype.xyz/">coldtype.xyz</a></li>
                    <li><a href="https://blog.coldtype.xyz/">blog</a></li>
                    <li><a href="https://github.com/coldtype">github</a></li>
                    <li><a href="https://typo.social/@coldtype">typo.social</a></li>
                    <li><a href="https://www.youtube.com/channel/UCIRaiGAVFaM-pSErJG1UZFA">youtube</a></li>
                    <li><a href="https://github.com/goodhertz/coldtype/discussions">q&a forum</a></li>
                </ul>
            </div>
            <ul class="menu">
            {% for post in posts %}
                <li class="post-link">
                    {% if post.data("post") %}
                        <a href="/{{ post._val.metadata.slug }}.html">
                            <h2><span class="grocer">“</span>{{ post._val.metadata.title }}<span class="grocer">”</span> </h2>
                        </a>
                    {% else %}
                        <h3>{{ post.tag() }}</h3>
                        <ul>
                        {% for p in post %}
                            <li class="post-link">
                                <a href="/{{ p._val.metadata.slug }}.html">
                                    <h2><span class="grocer">“</span>{{ p._val.metadata.title }}<span class="grocer">”</span> </h2>
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</body>