/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2014 Adobe Inc.
* All Rights Reserved.
*
* NOTICE: Adobe permits you to use, modify, and distribute this file in
* accordance with the terms of the Adobe license agreement accompanying
* it. If you have received this file from a source other than Adobe,
* then your use, modification, or distribution of it requires the prior
* written permission of Adobe. 
**************************************************************************/

* {
	font-family: monospace, sans-serif;
	color: #aaa;
}

p {
	text-align: center;
}

a {
	color: #555;
	font-size: 10px;
	text-decoration: none;
	margin-bottom: 10px;
	display: block;
	text-align: center;
}

#container {
    /* margin-top: 20px; */
}

.plain {
    margin-bottom: 10px;
    text-align: center;
}