@import url("https://use.typekit.net/wyc7zil.css");

body {
    font-family: "source-serif-pro";
}

.wy-nav-side p.caption, .rst-content .toctree-wrapper>p.caption, h1, h2, h3, h4, h5, h6, legend {
    font-family: "hobeaux";
}

img.add-border {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.highlight-ruby {
    display: none;
}